.logo {
    width: 30%;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    
}
.search {
    margin:10px
}
.nav-cont >ul {
    display: flex;
}
.nav-cont > ul >li {
    padding: 5px;
    margin: 10px;
    list-style-type: none;
}
.restaurant-card{
    
    width: 200px;
    margin: 5px;
    background-color: #F0F3F4  ;
    padding: 5px;
    
    
}
.restaurant-cont{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.restaurant-card:hover{
    border: 1px solid black;
    
    cursor: pointer;
    
}
.restaurant-card > img {
    width:100%;
    border-radius: 5px;
    overflow-clip-margin: content-box;
}
