.logo {
    width: 30%;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid black;
    
}
.search {
    margin:10px
}
.nav-cont >ul {
    display: flex;
}
.lgnbtn{
    margin-right: 5px;
    font-size: 1em;
    cursor: pointer;
}

.nav-cont > ul >li {
    padding: 5px;
    margin: 10px;
    list-style-type: none;
}
.restaurant-card{
    
    width: 220px;
    margin: 5px;
    background-color: #f0f0f0  ;
    padding: 5px;
  
}
.restaurant-cont{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;

}
.restaurant-card:hover{
    border: 1px solid black;
    
    cursor: pointer;
    
}
.restaurant-card > img {
    width:100%;
    border-radius: 5px;
    overflow-clip-margin: content-box;
}
.filter-btn {
    margin-left: 10px;
    cursor: pointer;
}
.sort-btn {
    margin-left: 10px;
    cursor: pointer;
}
.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    width: 200px;
    margin: 5px;
    background-color: #f0f0f0  ;
    padding: 5px;
    height:400px;
}